:root {
    --serif-font: 'Cormorant Garamond', serif;
    --sans-serif-font: 'Proza Libre', sans-serif;

    --font-size-xxlarge: 96rem;
    --font-size-xlarge: 64rem;
    --font-size-large: 48rem;
    --font-size-medium: 36rem;
    --font-size-small: 27rem;
    --font-size-xsmall: 24rem;
    --font-size-xxsmall: 21rem;

    --font-weight-thin: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --clr-hover: rgba(46, 255, 0, 0.9);
    --clr-grey: #8d8d8d;
    /* --clr-background: #eeeeee;
    --clr-background-transparent: #eeeeeee6; */
    --clr-background: rgb(231, 227, 216);
    --clr-background-transparent: rgba(231, 227, 216, 0.902);
    --clr-white: #e7e3d8;
    --clr-black: #06060e;
    --clr-transparent: #e6e1d700;


    /* dark mode */

    /* --clr-background: #06060e;
    --clr-background-transparent: #06060ee6;
    --clr-white: #06060e;
    --clr-black: #e7e3d8;
    --clr-transparent: #e7e3d8; */

    --clr-raceclocker-one: #e25500;
    --clr-raceclocker-two: #f0a58f;
    --clr-raceclocker-highlight: rgb(240, 165, 143, 0.5);

    --clr-magiclamp-one: rgb(196, 150, 190);
    --clr-magiclamp-highlight: rgb(196, 150, 190, 0.5);

    --clr-sita-one: #0a49b2;
    --clr-sita-two: #2c8ff7;
    --clr-sita-highlight: rgb(44, 143, 247, 0.5);
    --clr-sita-three: #fdc963;


    --card-radius: 30rem;
    --padding-grid: 25rem;
    --border-padding: 15rem;

    --font-size-h1: 72rem;
    --font-size-h2: 48rem;
    --font-size-h3: 36rem;
    --font-size-text: 21rem;
    --font-size-caption: 21rem;

    --margin-section: 48rem;
    --margin-part: 72rem;
    --margin-para: 36rem;
    --margin-caption: 12rem;

    --transition: 0.3s all linear;
    --transition-only: 0.3s linear;
    --transition-reveal: 0.5s ease-in-out;
    --border-weight: 0.02rem;
    --footer-padding: 56rem;
    --nav-height: 155rem;
}

/* Hide scrollbars */
/* *::-webkit-scrollbar {
    display: none;
} */


*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--clr-black);
}

html {
    scroll-behavior: smooth;
    background-color: var(--clr-background);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.05vw;
    cursor: url(./asset/cursor.png) 4 5, pointer;
}

a:link,
a:visited,
a:hover,
a:active {
    /* cursor: crosshair; */
    color: var(--clr-black);
    text-decoration: none;
}

hr {
    grid-column: 2/10;
    border: none;
    border-top: solid var(--border-weight);
    margin-bottom: var(--margin-section);
}

/** LIGHTBOX MARKUP **/

.zoom {
    cursor: zoom-in;
}

.lightbox:hover {
    cursor: zoom-out;
}

.lightbox {
    /* Default to hidden */
    display: none;

    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* A bit of padding around image */
    padding: 1em;

    /* Translucent background */
    background: rgba(255, 255, 255, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
    display: block;
    overflow: scroll;
}

.lightbox img[class~=vertical] {
    /* Full width and height */
    display: block;
    width: 100%;
    height: auto;
}

.lightbox img[class~=horizontal] {
    /* Full width and height */
    display: block;
    width: auto;
    height: 100%;
}



/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    border: solid var(--border-weight) var(--clr-black);
    /* border-radius: 100rem; */
    background-color: var(--clr-background);
    color: var(--clr-black);
    text-align: center;
    font-family: var(--sans-serif-font);
    font-size: var(--font-size-text);
    padding: 5px;
    box-shadow: 5rem 5rem var(--clr-black);


    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 120%;
    right: 0%;
    z-index: 1;

    transition: var(--transition);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    transition: var(--transition);
}

ul {
    list-style: none;
}


li[class~='nav-index'] {
    text-align: right;
}

.serif {
    font-family: var(--serif-font), serif;
    line-height: 1.5;
}

.sans-serif {
    font-family: var(--sans-serif-font), sans serif;
    line-height: 1.5;
}

.xxl {
    font-size: var(--font-size-xxlarge);
}

.xl {
    font-size: var(--font-size-xlarge);
}

.l {
    font-size: var(--font-size-large);
}

.m {
    font-size: var(--font-size-medium);
}

.s {
    font-size: var(--font-size-small);
}

.xs {
    font-size: var(--font-size-xsmall);
}

.xxs {
    font-size: var(--font-size-xxsmall);
}

.extra-light {
    font-weight: var(--font-weight-extra-light);
}

.light {
    font-weight: var(--font-weight-light);
}

.regular {
    font-weight: var(--font-weight-regular);
}

.medium {
    font-weight: var(--font-size-medium);
}

.semi-bold {
    font-weight: var(--font-weight-semi-bold);
}

.bold {
    font-weight: var(--font-weight-bold);
}

.black {
    font-weight: var(--font-size-black);
}

.logo {
    height: calc(0.5*var(--nav-height));
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 0;
}

.home {
    grid-column: 1/-1;
    height: var(--nav-height);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: solid var(--border-weight);
    position: sticky;
    top: 0;
    box-shadow: 0 0 10rem 0 rgba(0, 0, 0, .2);
    z-index: 1;
    background: var(--clr-background-transparent);
}



.nav {
    grid-column: 2/12;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.nav-center {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}


.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-container {
    grid-column: 8/11;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.links {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-xsmall);
}

.links .scroll-link {
    font-family: var(--sans-serif-font);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
    transition: var(--transition);
    text-decoration: none;
    color: var(--clr-black);
    position: relative;
}

.scroll-link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: calc(0.1*var(--font-size-xlarge));
    left: -2rem;
    bottom: 5rem;
    z-index: -1;
    background-color: var(--clr-hover);
    transition: width 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-index:hover .scroll-link::before {
    width: calc(100% + 4rem);
}


.section {
    grid-column: 2/12;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-left: solid var(--border-weight);
    border-right: solid var(--border-weight);
    margin: 0;
    padding: 0;
}

.hero {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.introduction {
    grid-column: 1/11;
    padding: 3vw;
    margin-top: 2vh;
}

.hero-button-wrapper {
    grid-column: 1/11;
    position: relative;
    left: 60rem;
    display: flex;
}

.hero-button {
    text-align: center;
    text-decoration: none;
    font-size: var(--font-size-xxsmall);
    font-family: var(--sans-serif-font);
    font-weight: var(--font-weight-bold);
    width: 10vw;
    padding: 12rem;
    /* border: solid var(--border-weight); */
    /* border-radius: 100rem; */
    box-shadow: 1rem 1rem 0px 0 var(--clr-black);

    margin-top: 3vh;
    margin-right: 3vw;
}


.hero-button:hover {
    border: solid var(--border-weight);

    transform: translate(-5rem, -5rem);
    box-shadow: 5rem 5rem 0px 0 var(--clr-black);
    transition: var(--transition);
}

.hallmark {
    grid-column: 9/11;
    /* transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1); */
    position: fixed;
    top: 12vw;
    right: 12vw;
    /* position: relative;
    top: 0rem; */
    height: 260rem;
    display: grid;
    justify-content: center;
    align-items: center;

    animation: bounce 2s ease-in-out infinite;
    opacity: 0;
    transform: translateX(-150rem);

    transition: var(--transition-reveal);
}



.hallmark.active {
    grid-column: 9/11;
    /* transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1); */
    position: fixed;
    top: 12vw;
    right: 12vw;
    /* position: relative;
    top: 0rem; */
    height: 260rem;
    display: grid;
    justify-content: center;
    align-items: center;

    animation: bounce 2s ease-in-out infinite;
    opacity: 0.5;
    transform: translateX(-50rem);

    transition: var(--transition-reveal);
}

#badge {
    opacity: 0;
}

.hallmark.active:hover {
    grid-column: 9/11;
    /* transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1); */
    position: fixed;
    top: 12vw;
    right: 12vw;
    /* position: relative;
    top: 0rem; */
    height: 260rem;
    display: grid;
    justify-content: center;
    align-items: center;

    animation: bounce 2s ease-in-out infinite;
    opacity: 1;
    transform: translateX(-50rem);

    transition: var(--transition-reveal);
}

.hallmark.active:hover #badge {
    opacity: 1;
    transition: var(--transition-reveal);
}

#hallmark {
    width: 260rem;
    opacity: 0.9;
}

.arrow-wrapper {
    position: absolute;
    justify-self: center;

    width: 160rem;
    height: 160rem;
    background-color: var(--clr-transparent);

    border: solid var(--border-weight) var(--clr-black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge {
    width: 100%;
}

.hallmark .arrow-wrapper {
    border: solid 5rem var(--clr-hover);
}

.profile-container {
    position: relative;
    display: inline-block;
    grid-column: 4/5;
    width: 120rem;
    height: 120rem;
    top: 20rem;
    left: 20rem;
    margin-right: 1vw;
}

.stripe {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 50%;
    right: 20%;
    background-color: var(--clr-hover);
    z-index: -1;
}

.introduction:hover .stripe {
    animation: stripe-color 2s linear infinite;
}

.color-highlight {
    color: var(--clr-raceclocker-one);
}

.s-highlight {
    position: relative;

    background-size: 200% 70%;
    background-repeat: repeat-x;
    background-position: 0% 50%;
    transition: background-position 0.8s ease-out;
    padding: 4px 0px;
}

.s-highlight.active {
    position: relative;

    background-size: 200% 70%;
    background-repeat: repeat-x;
    background-position: -100% 50%;
    transition: background-position 0.8s ease-out;
}

.highlight-raceclocker {
    background-image: linear-gradient(to right, transparent 50%, var(--clr-raceclocker-highlight) 50%);
}

.highlight-sita {
    background-image: linear-gradient(to right, transparent 50%, var(--clr-sita-highlight) 50%);
}

.highlight-magiclamp {
    background-image: linear-gradient(to right, transparent 50%, var(--clr-magiclamp-highlight) 50%);
}

/* .highlight-raceclocker.active {
    background-image: linear-gradient(to right, transparent 50%, var(--clr-raceclocker-two) 50%);
} */

.highlight {
    position: relative;
}

.highlight::before {
    content: "";
    position: absolute;
    width: 0%;
    height: calc(0.1*var(--font-size-xlarge));
    left: -2rem;
    bottom: 1rem;
    z-index: -1;
    background-color: var(--clr-hover);
    transition: width 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

article:hover .highlight::before {
    width: calc(100% + 4rem);
}

.profile-1 {
    width: 100%;
}

.subtitle {
    grid-column: 3/9;
    margin-top: 96rem;
    margin-bottom: 96rem;
}



.accordion {
    grid-column: 3/9;
    margin: 24rem;
}

.accordion>input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.accordion>input[type="radio"] {
    position: absolute;
    left: -100vw;
}

.accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: var(--transition);
}

.accordion>input[type="checkbox"]:checked~.content {
    height: auto;
    overflow: visible;
    transition: var(--transition);
}

.accordion>input[type="radio"]:checked~.content {
    height: auto;
    overflow: visible;
    transition: var(--transition);
}

.accordion label {
    display: block;
}

.accordion {
    margin-bottom: 1rem;
}

.accordion>input[type="checkbox"]:checked~.content {
    padding-top: 24rem;
}

.accordion>input[type="radio"]:checked~.content {
    padding-top: 24rem;
}

.accordion label:hover,
.accordion label:focus {
    cursor: crosshair;
}

.accordion:hover .highlight::before {
    width: calc(100% + 4px);
}

.accordion .handle label:before {
    font-family: 'fontawesome';
    content: "\f067";
    font-size: var(--font-size-xsmall);
    font-weight: 200;
    display: inline-block;
    margin-right: 10rem;
    transform: translateY(-10rem);
}

.accordion>input[type="checkbox"]:checked~.handle label:before {
    content: "\f068";
}

.accordion>input[type="radio"]:checked~.handle label:before {
    content: "\f068";
}





.project-container {
    grid-column: 3/9;
}

.project-card {
    width: 100%;
    height: 25vw;
    background-color: var(--clr-white);
    border: solid var(--border-weight);
    border-radius: var(--card-radius);
    margin-bottom: 96rem;
    display: grid;
    grid-template-areas:
        'a a e'
        'b b e'
        'c d e';
    grid-template-rows: 1.5fr 1fr 1fr;
    grid-template-columns: 3fr 1fr 3fr;
    overflow: hidden;

    /* box-shadow: 0.8vw 0.8vw 0px 0 var(--clr-black); */
    text-decoration: none;
}

.project-card:last-of-type {
    margin-bottom: 144rem;
}

.project-card:hover .project-cover {
    transform: scale(1.1);
    filter: saturate(1);
}

#raceclocker,
#sita,
#magiclamp {
    box-shadow: 0vw 0vw 0px 0 var(--clr-black);
    transition: var(--transition);
}

#raceclocker:hover {
    transform: translate(-0.7vw, -0.7vw);
    box-shadow: 0.7vw 0.7vw 0px 0 var(--clr-black);
    transition: var(--transition);
}

#magiclamp:hover {
    transform: translate(-0.7vw, -0.7vw);
    box-shadow: 0.7vw 0.7vw 0px 0 var(--clr-black);
    transition: var(--transition);
}

#sita:hover {
    transform: translate(-0.7vw, -0.7vw);
    box-shadow: 0.7vw 0.7vw 0px 0 var(--clr-black);
    transition: var(--transition);
}

.project-title {
    grid-area: a;
    border-bottom: solid var(--border-weight);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5%;
}

.project-index {
    margin-left: 1%;
    margin-bottom: 3%;
    color: var(--clr-black);
    opacity: 0.3;
}


.tags {
    grid-area: b;
    border-bottom: solid var(--border-weight);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    flex-wrap: wrap;
    gap: 0;
}

.tag {
    grid-column: 2/3;
    border: solid var(--border-weight);
    border-radius: 1000px;
    height: max-content;
    width: max-content;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    margin-top: 0;
}

.project-description {
    grid-area: c;
    border-right: solid var(--border-weight);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%;

}

.project-description .serif {
    line-height: normal !important;
}

.enter {
    grid-area: d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-right {
    width: 50%;
    transition: var(--transition);
    /* filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(617%) hue-rotate(52deg) brightness(113%) contrast(87%); */
    filter: drop-shadow(0 0 4px var(--clr-transparent));
}

.cover-container {
    grid-area: e;
    border-left: solid var(--border-weight);
    overflow: hidden;
}


.project-cover {
    height: 100%;
    object-fit: cover;
    filter: saturate(0);
    transition: var(--transition);
}

footer {
    grid-column: 2/-2;
    height: var(--nav-height);

    display: flex;
    flex-direction: column;
    border-top: solid var(--border-weight);
    border-right: solid var(--border-weight);
    border-left: solid var(--border-weight);
    justify-content: center;
    align-items: center;

    font-size: var(--font-size-xxsmall);

    background: var(--clr-background-transparent);
    z-index: 3;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}

.contact {
    width: 6vw;
    font-size: var(--font-size-xsmall);
    margin-left: 1vw;
    margin-right: 1vw;
    opacity: 0.2;
    text-align: center;
}

.contact:hover {
    opacity: 1;
    transition: var(--transition-only);
}

#top {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow-up {
    width: 60%;
    transform: rotate(-90deg);
}

.top-link {
    position: fixed;
    bottom: 2vw;
    right: 1.5vw;
    background-color: var(--clr-transparent);

    width: 5vw;
    height: 5vw;
    border: solid 1px;
    border-radius: 50%;
    display: grid;
    place-items: center;

    color: var(--clr-black);
    animation: bounce 2s ease-in-out infinite;
    opacity: 0;
    transform: translateY(150px);

    transition: var(--transition-reveal);

    /* visibility: hidden;
  z-index: -100; */
}

.top-link.active {
    position: fixed;
    bottom: 2vw;
    right: 1.5vw;
    background-color: var(--clr-transparent);

    width: 5vw;
    height: 5vw;
    border: solid var(--border-weight);
    border-radius: 50%;
    display: grid;
    place-items: center;

    color: var(--clr-black);
    animation: bounce 2s ease-in-out infinite;
    opacity: 1;
    transform: translateY(0px);
    transition: var(--transition-reveal);
    /* visibility: hidden;
  z-index: -100; */
}

.show-link {
    visibility: visible;
    z-index: 100;
}

@keyframes stripe-color {
    0% {
        background-color: var(--clr-hover);
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: var(--clr-hover);
    }

}


.loader-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;

    padding: 5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-background);

    font-size: 36rem;
    line-height: normal;

    z-index: 999;
}

img[class='loader'] {
    height: auto;
    max-width: 35vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.loading {
    margin-left: auto;
    margin-right: auto;
    font-family: var(--serif-font);
    font-size: var(--font-size-xlarge);
}

.preload-finish {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    transform: scale(0);
    z-index: -999;
    transition: var(--transition);
}


.reveal_y {
    position: relative;
    transform: translateY(-5vh);
    opacity: 0;
    transition: var(--transition-reveal);
    transition-property: transform, opacity;
}

.reveal_y.active {
    transform: translateY(0);
    opacity: 1;
}


.reveal_y_delay {
    position: relative;
    transform: translateY(5vh);
    opacity: 0;
    transition: var(--transition-reveal);
    transition-property: transform, opacity;
}

.reveal_y_delay.active {
    transform: translateY(0vh);
    opacity: 1;
}

.reveal_x {
    position: relative;
    transform: translateX(-5vw);
    opacity: 0;
    transition: var(--transition-reveal);
    transition-property: transform, opacity;
}

.reveal_x.active {
    transform: translateX(0);
    opacity: 1;
}


.reveal_x_delay {
    position: relative;
    transform: translateX(5vw);
    opacity: 0;
    transition: var(--transition-reveal);
    transition-property: transform, opacity;
}

.reveal_x_delay.active {
    transform: translateX(0);
    opacity: 1;
}


.warning {
    transform: scale(0);
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-background);
    font-size: var(--font-size-xxlarge);
    line-height: normal;
    padding: 5vw;
    z-index: 2;
}

.warn {
    margin: 2vw;
}


img[class='warn'] {
    width: 50vw;
    max-width: 500px;
    margin-top: 5vh;
}

.resume {
    display: inline-block;
    text-decoration: none;
    width: 80%;
    border: solid 1px;
    padding: 2vw;
    box-shadow: 3px 3px var(--clr-black);
}




/* Project Page */

.project-type {
    grid-column: 1/-1;
    width: 100%;
    min-height: 40vw;

    margin-bottom: 0rem;
    display: grid;
    grid-template-areas:
        'a a a b c'
        'a a a b d'
        'e f g g h';
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);

    /* box-shadow: 0.8vw 0.8vw 0px 0 var(--clr-black); */
    transition: var(--transition);
    text-decoration: none;
}

.grid-title {
    color: var(--clr-grey);
    margin-bottom: 1%;
    font-family: var(--sans-serif-font);
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}

.hero ul li {
    text-align: left;
}

.hero-img {
    grid-area: a;
    border-right: solid var(--border-weight);
    border-bottom: solid var(--border-weight);
    overflow: hidden;
    display: flex;
    align-items: center;
}

.project-img,
.project-scope {
    width: 100%;
    object-fit: cover;
}

.scope {
    grid-area: b;
    border-right: solid var(--border-weight);
    border-bottom: solid var(--border-weight);
    padding: var(--padding-grid);
    display: flex;
    flex-direction: column;
}

.scope img {
    width: 100%;
    display: inline-block;
    margin: auto;
}

.skills {
    grid-area: c;
    border-bottom: solid var(--border-weight);
    padding: var(--padding-grid);
}

.tools {
    grid-area: d;
    border-bottom: solid var(--border-weight);
    padding: var(--padding-grid);
}

.duration {
    grid-area: e;
    border-right: solid var(--border-weight);
    border-bottom: solid var(--border-weight);
    padding: var(--padding-grid);
}

.team {
    grid-area: f;
    border-right: solid var(--border-weight);
    border-bottom: solid var(--border-weight);
    padding: var(--padding-grid);
}

.context {
    grid-area: g;
    border-right: solid var(--border-weight);
    border-bottom: solid var(--border-weight);
    padding: var(--padding-grid);
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.deliverable {
    grid-area: h;
    border-bottom: solid var(--border-weight) var(--clr-black);
    padding: var(--padding-grid);
    background-color: var(--clr-black);
    display: flex;
    flex-direction: column;
}

.deliverable:hover img {
    transform: translateX(12rem);
    transition: var(--transition);
}

.deliverable img {
    width: 60%;
    display: inline-block;
    margin: auto;
    transition: var(--transition);
}



.sidebar {
    grid-column: 1/2;
    position: fixed;
    top: 40vh;
    opacity: 0;
    transition: var(--transition);
}

.contents li {
    text-align: left;
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-medium);
    font-family: var(--serif-font);
    margin-left: 1vw;
    margin-bottom: 0.75vw;

    opacity: 1;

}

.contents a {
    color: var(--clr-black);
    opacity: 1;
}

.sidebar.active {
    grid-column: 1/2;
    position: fixed;
    top: 40vh;
    opacity: 1;
    transition: var(--transition);
}

.contents li.active .highlight::before {
    width: calc(100% + 4px);
}

.contents>li:hover .highlight::before {
    width: calc(100% + 4px);
}

iframe {
    grid-column: 2/10;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--margin-part);
    max-width: 100%;
}

.ht1 {
    grid-column: 3/-1;
    font-family: var(--serif-font);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-thin);
    margin-top: var(--margin-section);
    margin-bottom: var(--margin-section);
    text-transform: uppercase;
}

.ht2 {
    grid-column: 3/-3;
    font-family: var(--serif-font);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--margin-part);
    text-transform: uppercase;
}

.ht3 {
    grid-column: 3/-3;
    font-family: var(--serif-font);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--margin-para);
    text-transform: capitalize;
}

.quote {
    grid-column: 3/-3;
    font-family: var(--serif-font);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-light);
    margin-bottom: var(--margin-part);
    text-transform: initial;
    border-top: solid var(--border-weight);
    border-bottom: solid var(--border-weight);
    padding: var(--font-size-h3);
    margin-top: var(--margin-para);
    margin-bottom: var(--margin-para);
}

.ht1-dec {
    font-family: var(--serif-font);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-thin);
    margin-top: var(--margin-section);
    margin-bottom: var(--margin-section);
    text-transform: uppercase;
}

.ht2-dec {

    font-family: var(--serif-font);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--margin-part);
    text-transform: uppercase;
}

.ht3-dec {
    font-family: var(--serif-font);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--margin-para);
    text-transform: capitalize;
}

.quote-dec {
    font-family: var(--serif-font);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-light);
    margin-bottom: var(--margin-part);
    text-transform: initial;
    border-top: solid var(--border-weight);
    border-bottom: solid var(--border-weight);
    padding: var(--font-size-h3);
    margin-top: var(--margin-para);
    margin-bottom: var(--margin-para);
}

.text {
    grid-column: 3/-3;
    font-family: var(--sans-serif-font);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-thin);
    margin-bottom: var(--margin-para);
    line-height: 1.5;
    text-align: justify;
    text-justify: auto;
}

.text-dec {
    font-family: var(--sans-serif-font);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-thin);
    margin-bottom: var(--margin-para);
    line-height: 1.5;
    text-align: justify;
    text-justify: auto;
}

.caption {
    grid-column: 3/-3;
    font-family: var(--serif-font);
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-medium);
    margin-top: var(--margin-caption);
    margin-bottom: var(--margin-caption);
    line-height: normal;

    text-transform: initial;
    text-align: start;
}

.caption-dec {
    font-family: var(--serif-font);
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-medium);
    margin-top: var(--margin-caption);
    margin-bottom: var(--margin-caption);
    line-height: normal;

    text-transform: initial;
    text-align: center;
}

.index-title {
    grid-column: 3/-3;
    font-family: var(--sans-serif-font);
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-medium);
    color: var(--clr-grey);
    line-height: normal;
    text-transform: uppercase;
}

.index-title-dec {
    font-family: var(--sans-serif-font);
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-medium);
    color: var(--clr-grey);
    line-height: normal;
}

.para-title {
    grid-column: 3/-3;
    font-family: var(--sans-serif-font);
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-medium);
    color: var(--clr-black);
    margin-bottom: var(--margin-caption);
    margin-top: var(--margin-caption);
    line-height: normal;
}

.para-title-dec {
    font-family: var(--sans-serif-font);
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-medium);
    color: var(--clr-black);
    margin-bottom: 16px;
    line-height: normal;
}

.captalized {
    text-transform: lowercase;
}

.divider-part {
    grid-column: 1/-1;
    margin: var(--margin-part)
}

#overview,
#discover,
#define,
#iterate,
#ideate,
#design,
#validate,
#implication,
#ramification,
#reflect {
    border-bottom: solid var(--border-weight);
}

@keyframes title-color {
    0% {
        color: var(--clr-hover);
    }

    50% {
        color: var(--clr-black);
    }


    100% {
        color: var(--clr-hover);
    }

}

.color-changing {
    animation: title-color 3s linear infinite;
}

#next a {
    color: var(--clr-raceclocker-two);
    animation: title-color 3s linear infinite;
}

.label-l {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.label-l .ht1 {
    grid-column: 2/-1;
}

/* arrow-wrapper */


.accordion-arrow {
    position: relative;
    grid-column: 1/2;
    margin: auto;
    border: solid var(--border-weight);
    border-radius: 50%;
    width: calc(0.7*var(--font-size-h1));
    height: calc(0.7*var(--font-size-h1));
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1 {
    position: absolute;
    border: solid var(--clr-black) var(--border-weight);
    width: 80%;
    margin: auto;
    transform: scale(0.7);
    transition: 0.3s ease-in-out;
}

.line2 {
    position: absolute;
    border: solid var(--clr-black) var(--border-weight);
    height: 80%;
    margin: auto;
    transform: scale(0.7);
    transition: 0.3s ease-in-out;
}

.jump-arrow-wrapper {
    margin-left: 2vw;
    margin-top: calc(0.35*var(--font-size-h3));

    width: calc(0.9*var(--font-size-h3));
    height: calc(0.9*var(--font-size-h3));
    display: flex;
    justify-content: center;
    align-items: start;
    transition: var(--transition);
}

.jump-arrow-wrapper img {
    width: 100%;
}

/* accordion */

.section-accordion {
    grid-column: 2/12;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-left: solid var(--border-weight);
    border-right: solid var(--border-weight);
    margin: 0;
    padding: 0;
}

.section-accordion>input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.section-accordion>input[type="radio"] {
    position: absolute;
    left: -100vw;
}

.section-accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: var(--transition);
}

.section-accordion>input[type="checkbox"]:checked~.content {
    height: auto;
    overflow: visible;
    transition: var(--transition);
    margin-bottom: var(--margin-part);
}

.section-accordion>input[type="radio"]:checked~.content {
    height: auto;
    overflow: visible;
    transition: var(--transition);
    margin-bottom: var(--margin-part);
}

.section-accordion {
    margin-bottom: 1rem;
}

.section-accordion>input[type="checkbox"]:checked~.content {
    padding-top: 24rem;
}

.section-accordion>input[type="radio"]:checked~.content {
    padding-top: 24rem;
}


.section-accordion label:hover,
.section-accordion label:focus {
    cursor: crosshair;
}

.section-accordion:hover .accordion-arrow .line1 {
    /* background-image: url(./asset/cross2-1.png);
    background-position: center;
    background-size: contain; */
    transform: scale(1);
}

.section-accordion:hover .accordion-arrow .line2 {
    /* background-image: url(./asset/cross2-1.png);
    background-position: center;
    background-size: contain; */
    transform: scale(1);
}

.section-accordion>input[type="checkbox"]:checked~.label-l .line2 {
    /* background-image: url(./asset/cross2-2.png);
    background-position: center;
    background-size: contain; */
    transform: rotate(90deg);
}

.section-accordion>input[type="radio"]:checked~.label-l .line2 {
    /* background-image: url(./asset/cross2-2.png);
    background-position: center;
    background-size: contain; */
    transform: rotate(90deg);
}

.content-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}


.part-accordion p:hover .highlight::before {
    width: calc(100% + 4px);
}

.part-accordion {
    grid-column: 1/-1;
    height: min-content;
    margin: 0;
    padding: 0;
}

.part-container {
    grid-column: 1/-1;
}

.part-accordion>input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.part-accordion>input[type="radio"] {
    position: absolute;
    left: -100vw;
}

.part-accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: var(--transition);
}

.part-accordion>input[type="checkbox"]:checked~.content {
    height: auto;
    overflow: visible;
    transition: var(--transition);
    margin-bottom: var(--margin-part);
}

.part-accordion>input[type="radio"]:checked~.content {
    height: auto;
    overflow: visible;
    transition: var(--transition);
    margin-bottom: var(--margin-part);
}

.part-accordion label {
    display: block;
}

/* .part-accordion {
    margin-bottom: var(--margin-para);
} */

.part-accordion>input[type="checkbox"]:checked~.content {
    margin-top: var(--margin-caption);
}

.part-accordion>input[type="radio"]:checked~.content {
    margin-top: var(--margin-caption);
}

.part-accordion label:hover,
.part-accordion label:focus {
    cursor: crosshair;
}

.part-accordion label:before {
    font-family: 'fontawesome';
    content: "\f067";
    font-size: var(--font-size-xsmall);
    font-weight: 200;
    display: inline-block;
    margin-right: 10rem;
    transform: translateY(-5rem);
}

.part-accordion>input[type="checkbox"]:checked~.handle label:before {
    content: "\f068";
}

.part-accordion>input[type="radio"]:checked~.handle label:before {
    content: "\f068";
}

.jumper {
    display: flex;
}

.jumper:hover .highlight::before {
    width: calc(100% + 4px);
}

.jumper:hover .jump-arrow-wrapper {
    transform: translateX(6rem);
    transition: var(--transition);
}

.border {
    border: solid var(--border-weight);
    padding: var(--border-padding);
}

.border-right {
    border-right: solid var(--border-weight);
    padding-right: var(--border-padding);
}

.border-left {
    border-left: solid var(--border-weight);
    padding-left: var(--border-padding);
}

.border-top {
    border-top: solid var(--border-weight);
    padding-top: var(--border-padding);
}

div[class~='columnn-child border-right'] {
    padding-right: var(--border-padding);
}

ol,
li {
    list-style: none;
}

ol li {
    padding-left: var(--border-padding);
    border-left: solid var(--border-weight);
    margin-bottom: var(--margin-caption);
}

.flex-column {
    grid-column: 2/10;
    margin: auto;
    display: flex;
    flex-direction: row;

    gap: 20px;
    flex-wrap: wrap;
    margin-top: var(--margin-part);
    margin-bottom: var(--margin-part);
}

.column-child-4 {
    flex: 1 1 200px;

    display: flex;
    flex-direction: column;
    justify-self: stretch;
}

.column-child-3 {
    flex: 1 1 250px;

    display: flex;
    flex-direction: column;
    justify-self: stretch;
}

.column-child-2 {
    flex: 1 300px;
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    align-self: flex-start;
}

.column-child-2-narrow {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    align-self: flex-start;
}

.two-column-full-reverse .column-child-2 {
    align-self: flex-end;
}

.two-column-full {
    grid-column: 2/10;

    display: flex;
    flex-wrap: wrap;
    flex: 1 auto;
    gap: 5vw;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: var(--margin-part)
}

.two-column-full-reverse {
    grid-column: 2/10;

    display: flex;
    flex-wrap: wrap-reverse;
    flex: 1 auto;
    gap: 5vw;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: var(--margin-part)
}

.two-column {
    grid-column: 3/9;
    display: flex;
    flex-wrap: wrap;
    flex: 1 auto;
    gap: 5vw;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: var(--margin-part)
}

.one-column {
    grid-column: 3/9;
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
}

.img-wrapper-portrait {
    max-width: 260px;
    height: max-content;
    border: solid var(--border-weight);
    border-radius: 30rem;

    overflow: hidden;
    align-self: center;
    justify-self: stretch;

    margin-right: 150rem;
    margin-left: 150rem;
    margin-bottom: var(--margin-part);
}

.img-wrapper-landscape {
    max-width: 600px;
    height: max-content;
    border: solid var(--border-weight);
    border-radius: 30rem;

    overflow: hidden;
    align-self: center;
    justify-self: stretch;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--margin-part);
}


.side-img {
    width: 100%;
    object-fit: contain;
}

.one-column-img {
    width: 100%;
    object-fit: contain;
}


@media screen and (max-width:660px) {
    .warning {
        transform: scale(1);
        z-index: 2;
        text-align: center;
    }

    footer {
        height: 8vh;
        grid-column: 1/-1;
        text-align: center;
        width: 100%;
        font-size: var(--font-size-xxsmall);
        position: absolute;
        bottom: 0;
        z-index: 3;
        border: none;
        border-top: solid var(--border-weight);
    }

    *,
    ::before,
    ::after {
        overflow: hidden;
    }
}

@media screen and (max-width:900px) {
    .sidebar {
        visibility: hidden;
    }
}

@media screen and (max-width:1024px) {

    .project-container,
    .accordion,
    .roles,
    .flex-column,
    .one-column,
    .two-column,
    .two-column-reverse,
    .quote {
        grid-column: 2/-2;
    }

    .subtitle {
        grid-column: 2/9;
    }

    .project-card {
        /* width: 100%; */
        height: 600rem;
    }

    .ht1,
    .ht2,
    .ht3,
    .text,
    .caption,
    .index-title,
    .para-title {
        grid-column: 2/-2;
    }

    .label-l {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
}

@media screen and (min-width:1920px) {

    html {
        scroll-behavior: smooth;
        background-color: var(--clr-background);
        font-family: 'Open Sans', sans-serif;
        font-size: 0.72px;
        cursor: url(./asset/cursor.png) 4 5, pointer;
    }

    .introduction {
        grid-column: 2/-2;
        max-width: 1800rem;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-button-wrapper {
        grid-column: 2/-2;
    }

    .links-container {
        grid-column: 9/11;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .project-card {
        grid-column: 1/-1;
        max-width: 1200rem;
        height: 600rem;
        margin-left: auto;
        margin-right: auto;
    }

    #hallmark {
        width: 260rem;
    }
}